/* style.css for rock paper scissors project */
body,
.container {
  display: flex;
  flex-direction: column;
  align: center;
}

body {
  width: 50%;
  margin: auto;
}

h1,
.displayOutcome h3 {
  margin: auto;
}

.displayOutcome h3 {
  text-align: center;
  padding: 30px 25px;
}

.scoreboard,
.input,
.displaySelection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  width: 80px;
}
