/* style.css for rock paper scissors project */
html * {
  font-family: Roboto, Verdana, Arial, San-serif;
}

body,
.container {
  display: flex;
  flex-direction: column;
  align: center;
}

body {
  width: 50%;
  margin: auto;
}

h1,
.displayOutcome h3 {
  margin: auto;
}

.displayOutcome h3 {
  text-align: center;
  padding: 30px 25px;
}

.scoreboard,
.input,
.displaySelection,
.image.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .input { */
/*   height: 150px; */
/* } */

.computer.choice,
.human.choice {
  width: 50%;
}

.human.choice {
  display: flex;
  /* text-align: right; */
  /* flex-direction: row-reverse; */
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-end;
}

.reset {
  width: 100;
  text-align: center;
}

button {
  width: 75px;
  margin: 5px;
}

.resetBtn {
  width: 120px;
  margin: 12px;
}

button#scissors,
button#paper,
button#rock {
  margin-right: 0px;
}
