/* style.css for rock paper scissors project */
body,
.container {
  display: flex;
  flex-direction: column;
  align: center;
}

body {
  width: 50%;
  margin: auto;
}

.scoreboard,
.input,
.displaySelection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
